<h1>目標詳細画面</h1>

<center><div class="target-content">
  目標:<%= Target.last.content %>
</div>

<div= class="target-point">
  目標ポイント:<%= Target.last.point %>
</div>

<p>
  <strong>Image</strong>
  <%= image_tag @target.image, :size => "1000x630"%>
</p>
</center>