<div id="follow_form_<%= user.id %>">
  <% unless current_user.following?(user) %>
    <%= form_with(model: current_user.active_relationships.build(followed_id: user.id)) do |f| %>
      <%= f.hidden_field :followed_id %>
      <center><button type="submit" class="btn btn-info">フォロー</button></center>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id), method: :delete ) do |f| %>
       <center><button type="submit" class="btn btn-danger">つながりを解除</button></center>
    <% end %>
  <% end %>
</div>



