<h1>フォローされている人</h1>

<div class="follow_design">
  <% current_user.followers.each do |user| %>
<table>
  <tr>
    <td>  <%= user.name %> </td><br>
    <td><%= link_to '詳細', user_path(user), class: 'btn btn-info'  %></td>
  </tr>
</div>
</table>
<% end %>


